html {
    font-size: 62.5%;
}

body {
    width: 39em;
    height: 100vh;
}

.nav .btn-back {
    float: left;
    padding: 1.3em 1.6em;
}

.nav .Ms-disabled-button {
    float: right;
    margin: 0.8em 1.6em;
}

.nav {
    overflow: hidden;
    border-bottom: 0.05em solid #DBDBDB;
}

.txt-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-post .module-inp {
    margin-bottom: 1.6em;
}

.txt-post .explanation {
    font-weight: 500;
    font-size: 1.2em;
    color: #767676;
    margin-bottom: 1em;
}

.txt-post .inp-post {
    border-bottom: 0.1em solid #DBDBDB;
    width: 32.2em;
}

.inp-post input::placeholder {
    font-size: 1.4em;
    color: #DBDBDB;
    margin-bottom: 0.8em;
}