* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #767676;
}

.explanation {
    font-weight: 500;
    font-size: 1.2rem;
    color: #767676;
}

.container {
    width: 39rem;
    height: 100vh;
    margin: auto;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.8rem;
    width: 39rem;
    padding: 0.8rem 1.6rem;
    border-bottom: 0.05rem solid #DBDBDB;
}

button {
    margin: 0;
}

.contents-post {
    width:32.2rem;
    margin: auto;
}

/* 이미지 업로드 */

.img-post {
    position: relative;
}

.img-post .module-inp {
    margin-bottom:3rem;
}

.img-post .explanation {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
}

.image_inputType_file {
    display: none;
}

.btn-upload {
    position: absolute;
    top: 18.5rem;
    right: 1.6rem;
}

/* 텍스트입력 */

.txt-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-post .module-inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.txt-post .explanation {
    margin-bottom: 1rem;
}

.txt-post .inp-post {
    border-bottom: 0.1rem solid #DBDBDB;
    padding-bottom: 0.8rem;
}

.inp-post::placeholder {
    font-size: 1.4rem;
    color: #DBDBDB;
}
