* {
    border-style: none;
}
button {
    margin: 10px 0 20px;
}

.LMbutton-font {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.Sbutton-font {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

.L-button {
    width: 322px;
    height: 44px;
    left: 0px;
    top: 0px;
    border-radius: 44px;
    background-color: #ffc022;
    color: #806011;
}

.L-disabled-button {
    width: 322px;
    height: 44px;
    left: 0px;
    top: 0px;
    border-radius: 44px;
    background-color: rgba(255, 192, 34, 0.6);
    color: rgba(128, 96, 17, 0.6);
}

.M-button {
    width: 120px;
    height: 34px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    background-color: #ffc022;
    color: #806011;
}

.M-disabled-button {
    width: 120px;
    height: 34px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    background-color: rgba(255, 192, 34, 0.6);
    color: rgba(128, 96, 17, 0.6);
}

/* 19.언팔로우 버튼 */
.M-Activ-button {
    width: 120px;
    height: 34px;
    left: 0px;
    top: 0px;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    background-color: #ffffff;
    color: #767676;
}

/* 저장 */
.Ms-button {
    width: 90px;
    height: 32px;
    left: 0px;
    top: 0px;
    border-radius: 32px;
    background-color: #ffc022;
    color: #806011;
}

.Ms-disabled-button {
    width: 90px;
    height: 32px;
    left: 0px;
    top: 0px;
    border-radius: 32px;
    background-color: rgba(255, 192, 34, 0.6);
    color: rgba(128, 96, 17, 0.6);
}
/* 팔로우 */
.S-button {
    width: 56px;
    height: 28px;
    left: 0px;
    top: 0px;
    border-radius: 26px;
    background-color: #ffc022;
    color: #806011;
}
/* 취소 */
.S-Activ-button {
    width: 56px;
    height: 28px;
    left: 0px;
    top: 0px;
    border: 1px solid #dbdbdb;
    border-radius: 26px;
    background-color: #ffffff;
    color: #767676;
}
