* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #767676;
}

.invisible {
    display: none;
}

.active {
    font-weight: bold;
}

.container {
    width: 39rem;
    height: 100vh;
    margin: auto;
    background-color: white;
}

.nav .btn-back {
    float: left;
    padding: 1.3rem 1.6rem;
}

.nav .Ms-disabled-button {
    float: right;
    margin: 0.8rem 1.6rem;
}

.nav {
    overflow: hidden;
    border-bottom: 0.05rem solid #DBDBDB;
}

/* 프로필 이미지 업로드 */

.img-profile {
    position: relative;
    display: flex;
    justify-content: center;
}

.img-profile .img-profile-empty {
    margin: 3rem 0;
    width: 11rem;
}
.image_inputType_file {
    display: none;
}

.img-profile .btn-upload {
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: 21.4rem;
    top: 10.7rem;
}

/* 프로필 입력란 */

.txt-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32.2rem;
    margin: auto;
}

.txt-profile .module-inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.txt-profile .explanation {
    font-weight: 500;
    font-size: 1.2rem;
    color: #767676;
    margin-bottom: 1rem;
}

.txt-profile .inp-profile {
    border-bottom: 0.1rem solid #DBDBDB;
    padding-bottom: 0.9rem;
    font-size: 1.4rem;
}

.warning-text {
    margin-top: 0.6rem;
    color: #EB5757;
    font-size: 1.2rem;
}

.inp-profile:focus {
    border-bottom: 0.1rem solid var(--zzin-no);
}

.txt-profile .inp-profile::placeholder {
    color: #DBDBDB;
}