html {
    font-size: 62.5%;
}

body {
    background-color: wheat;
    
}

.font-gray {
    color: #767676;
}



.module-name {
    font-size: 2rem;
}

.post {
    width: 35.8rem;
    display: flex; 
    background-color: white;
}

.profile-pic {
    width: 4.2rem;
    height: 4.2rem;
}

.cont-following {
    width: 30.4rem;
    margin-left: 1.2rem;
}

.profile .tit-post {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    margin: 0;
}

.profile .id {
    font-size: 1.4rem;
    color: #767676;
    padding-bottom: 1.6rem;
    margin: 0;
}

.desc {
    font-size: 1.4rem;
    clear: both;
    padding-bottom: 1.6rem;
    line-height: 1.75rem;
    width: 30.4rem;
    margin: 0;
}

.picture {
    width: 30.4rem;
    height: 22.8rem;
}

.icon-box {
    display: inline-block;
    padding-top: 1.4rem;

}

.icon-box .icon-box-like {
    display: inline;
}

.icon-box .btn {
    border: none;
    background: #fff;
    cursor: pointer;
}

.icon-box .count, .post .font-gray {
    font-size: 1.3rem;
    vertical-align: 0.5rem;
}


.post .date {
    font-size: 1rem;
    color: #767676;
    display: block;
    margin: 0;
}

.example {
    border: 2px solid red;
}

.profile {
    float: left;
    position: relative;
}

.see-more {
    position: absolute;
    top: 1rem;
    right: -17.5rem;
}

.like-icon {
    float: left;
    /* margin: 0 0.782rem 1.873rem 1.2rem; */
}

.comment-icon {
    float: left;
    /* margin: 0 0.85rem 1.85rem 0; */
}

.product-box {
    width: 140px;
    background-color: white;
}
.thumbnail {
    border-radius: 0.8rem;
}

.title {
    /* font-size: 1.4rem; */
    /* margin: 0.6rem 0 0.4rem 0.2rem; */
}

.price {
    font-size: 1.2rem;
    color: #F26E22;
    /* margin-left: 0.2rem; */
    font-weight: 700;
}