html {
    font-size: 62.5%;
}

body {
    background-color: wheat;
    
}

.font-gray {
    color: #767676;
}

.module-name {
    font-size: 2rem;
}

.post {
    width: 35.8rem;

    display: flex; 
    justify-content: space-between;
    background-color: white;
}

.post .profile-pic {
    width: 4.2rem;
    height: 4.2rem;
}

.container .profile .nickname {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.4rem 0 0.2rem 1.2rem; 
}

.container .profile .id {
    font-size: 1.4rem;
    color: #767676;
    margin: 0 0 1.6rem 1.2rem;
}

.container .desc {
    font-size: 1.4rem;
    clear: both;
    margin: 0 0 1.6rem 1.2rem;
    line-height: 1.75rem;
    width: 30.4rem;
}

.container .picture {
    width: 30.4rem;
    height: 22.8rem;
    margin: 0 0 1.45rem 1.2rem;
}
.container .icon-box {
    display: inline-block;
    margin-left: 1rem;

}

.icon-box .icon-box-like {
    display: inline;
}

.container .btn {
    border: none;
    background: #fff;
    padding: 0px 0.5rem 0px 0.8rem;
    cursor: pointer;
}

.container .count, .post .font-gray {
    font-size: 1.3rem;
    vertical-align: 0.5rem;
}


.container .date {
    font-size: 10px;
    font-weight: 400;
    color: #767676;
    clear: both;
    margin-left: 1.2rem;
    display: block;
}

.container .profile {
    float: left;
}

.container .see-more {
    float: right;
    margin: 0.4rem 0;
}

.container .like-icon {
    float: left;
    margin: 0 0.782rem 1.873rem 1.2rem;
}

.container .comment-icon {
    float: left;
    margin: 0 0.85rem 1.85rem 0;
}

.product-box {
    width: 140px;
    background-color: white;
}
.thumbnail {
    border-radius: 0.8rem;
}

.title {
    font-size: 1.4rem;
    margin: 0.6rem 0 0.4rem 0.2rem;
}

.price {
    font-size: 1.2rem;
    color: #F26E22;
    margin-left: 0.2rem;
    font-weight: 700;
}