html {
    font-size: 62.5%;
}

body {
    background-color: wheat; 
}

.font-gray {
    color: #767676;
}

.btn-nonebackground {
    border: none;
    background: transparent;
}

.module-name {
    font-size: 2rem;
}

.post {
    width: 35.8rem;
    display: flex; 
    background-color: white;
}

.profile-pic {
    width: 4.2rem;
    height: 4.2rem;
}

.cont-following {
    width: 30.4rem;
    margin-left: 1.2rem;
}

.cont-following .profile .tit-post {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    margin: 0;
}

.cont-following .profile .id {
    font-size: 1.4rem;
    color: #767676;
    padding-bottom: 1.6rem;
    margin: 0;
}

.cont-following .desc {
    font-size: 1.4rem;
    clear: both;
    line-height: 1.75rem;
    width: 30.4rem;
    margin-bottom: 16px;
    
}

.cont-following .picture {
    width: 30.4rem;
    height: 22.8rem;
    border-radius: 2rem;
}

.icon-box {
    display: inline-block;
    padding-top: 1.4rem;
    padding-bottom: 1.6rem;
}

.icon-box .icon-box-like {
    display: inline;
}

.icon-box .btn {
    border: none;
    background: #fff;
    cursor: pointer;
    padding-left: 0;
}

.icon-box .btn-comment {
    margin-left: 1.2rem;
    vertical-align: -1px;
}

.icon-box .count, .post .font-gray {
    font-size: 1.3rem;
    vertical-align: 0.5rem;
}

.post .date {
    font-size: 1rem;
    color: #767676;
    display: block;
    margin: 0;
}

.post .div-icon {
    position: relative;
}

.post .div-icon .btn-icon-more {
    position: absolute;
    top: 1rem;
    left: -2rem
}

.example {
    border: 2px solid red;
}

.profile {
    float: left;
    position: relative;
}

.like-icon {
    float: left;
}

.comment-icon {
    float: left;
}

.product-box {
    width: 140px;
    background-color: white;
}

.product-box .img-product {
    border-radius: 0.8rem;
}

.product-box .tit-product {
    font-size: 1.4rem;
}

.product-box .price {
    font-size: 1.2rem;
    color: #ffc022;
    font-weight: 700;
}